<div class="container">
    <H1 class="showerAdd-title">Add Shower!</H1>
    <form id="showerAdd-form" name="showerAddForm" ng-submit="addShower(shower)">
        <div class="form-group">
            <label for="bathroom">Choose a Bathroom</label>
            <input type="text" ng-model="shower.bathroom" class="form-control" id="bathroom" placeholder="Pick your pooper!">
        </div>
        <div class="form-group">
            <label for="time">Choose a timeslot</label>
            <input type="text" ng-model="signUp.email" class="form-control" id="email" placeholder="Enter-email">
</div>


<div moment-picker="myDate"> {{ myDate }} </div>